@import url("https://fonts.googleapis.com/css2?family=Quicksand&family=Roboto&display=swap");

#grad {
  background-image: (rgba(157, 58, 196, 0.233))
 }

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}

.maintxt {
  position: relative;
}
.maintxt > img,
.overlay-text {
  position: absolute;
}

.img {
  width: 150px;
}

.maintxt {
    color: rgb(37, 32, 37);

}

.button {
    color:rgb(43, 126, 50)
    
}

.div {
    position: relative;
}